/*
 * CSS File for the solution
 * Final Exam
 * You got this!
 */

/*
 * COLOUR PALETTE
 *
 * YOU DO NOT NEED TO USE THESE COLOURS, BUT YOU CAN IF YOU WANT TO
 *
 * #cdb4db - Lavender Purple
 * #ffc8dd - Pink
 * #ffafcc - Light Pink
 * #bde0fe - Light Blue
 * #a2d2ff - Light Blue
 * #0c0a3e - Dark Purple
 * #797979 - Grey
 *
 * https://coolors.co/palette/cdb4db-ffc8dd-ffafcc-bde0fe-a2d2ff
 */

/*
 * FOR YOUR DESKTOP VIEWPORT I WOULD RECOMMEND THE FOLLOWING MEDIA QUERY
 *
 * @media screen and (min-width: 800px) {
 *    ... your styles here ...
 * }
 */

 html {
  font-size: 1.0rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;

  background-color: #f7ead7;
}

header {
  display: flex;
  justify-content: space-between;
}

.head-image {
  max-width: 5rem;
  padding: 0.5rem;
  background-color: #000000;
  border-radius: 20px;
  margin: 3rem;
  margin-left: 10rem;
}

.header-h2 {
  background-color: #000000;
  color: white;
  padding: 2rem;
  border-radius: 20px;
  margin: 3rem;
  margin-right: 10rem;
}

.page-first h1 {
  text-align: center;
  font-weight: bolder;
  font-size: 3rem;
  margin-top: 150px;
  margin-bottom: 10px;
}

.page-first h4 {
  text-align: center;
  font-weight: lighter;
  color: grey;
}

.skilla {
  
  margin-top: 200px;
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(3,1fr);
  gap: 2rem;

  text-align: center;
}

.web {
  background-color: #cdb4db;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 4;
  padding: 4rem;
  border-radius: 20px;
  
}



.HTML {
  background-color: #a2d2ff;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 6;
  padding: 4rem;
  border-radius: 20px;
}

.CSS {
  background-color: #ffafcc;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 5;
  grid-column-end: 6;
  padding: 4rem;
  border-radius: 20px;
}

.UI {
  background-color: #ffc8dd;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 4;
  grid-column-end: 5;
  padding: 4rem;
  border-radius: 20px;
}

.JS {
  background-color: #bde0fe;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start: 6;
  grid-column-end: 8;
  padding: 4rem;
  border-radius: 20px;
}

.GITHUB {
  background-color: #cdb4db;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 6;
  grid-column-end: 8;
  padding: 4rem;
  border-radius: 20px;
}

.aboutMe {
  display: flex;
  justify-content: center;
}

.Amyimage {
  border-radius: 25px;
  width: 500px;
  margin-right: 50px;
 
}

.amyWordBox {
  max-width: 400px;
  margin-left: 50px;
  
}

.amyWords {
  margin-top: 100px;

  font-weight: bolder;
  font-size: 2rem;
}

.restWords {
  margin-top: 10px;
  font-size: 1rem;
}

.contactMe {
  margin-top: 50px;
  background-color: #ffafcc;
  justify-content: center;
  text-align: center;
  padding: 20px;
  border-radius: 30px;
  max-width: 200px;
  
}

.imageTuto1 {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.imageTuto2 {
  display: flex;
  justify-content: center;
  margin: 20px;
}

.tutorialOne {
  border-style: solid;
  border-color: black;
  border-width: 5px;
  border-radius: 20px;
  margin-right: 50px;
 
}

.tutorialTwo {
  border-radius: 20px;
  margin-left: 50px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
}

.WorksHere {
  justify-content: center;
  text-align: center;
  margin: 100px;
  font-size: 3rem;
}

.small-texts {
  margin-top: 5px;
  display: flex;
  justify-content: left;
  gap: 1rem;
}

.html-small-text {
  background-color: #ffc8dd;
  border-radius: 20px;
  padding: 5px;
}

.css-small-text {
  background-color: #ffc8dd;
  border-radius: 20px;
  padding: 5px;
}

.js-small-text {
  background-color: #ffc8dd;
  border-radius: 20px;
  padding: 5px;
}

.div-small-right {
  margin-left: 50px;
}

.tutorialTri {
 
  border-style: solid;
  border-color: black;
  border-width: 5px;
  border-radius: 20px;
  margin-right: 50px;
 
}

.tutorialFor {
  margin-left: 50px;
  border-style: solid;
  border-color: black;
  border-width: 5px;
  border-radius: 20px;

 
}

.contactTime {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-self: center;

  flex-direction: column;

  background-color: #cdb4db;
  border-radius: 25px;
  max-width: 1000px;
  margin-left: 385px;
}

.bookMe {
  font-size: 2.5rem;
  margin: 40px;
}

.chatMe {
  font-weight: lighter;
  margin-left: 40px;
}

.last-contact-button {
  background-color: black;
  color: white;
  border-radius: 20px;
  
  text-align: center;
  margin: 30px;
  margin-left: 40px;
  width: 175px;
  padding: 1rem;
 
}

footer {
  margin-top: 150px;
  display: flex;
  justify-content: center;
  gap: 40rem;
  
}

.footLogo {
  max-width: 80px;
  
}

.icon2023 {
  align-self: center;
  font-weight: lighter;
  color: grey;
}

@media only screen and (max-width: 600px) {

  header {
    display: flex;
    justify-content: center;
  }


  .head-image {
    
   
    background-color: #000000;
    border-radius: 20px;
  }


  .header-h2 {
    background-color: #000000;
    color: white;
    
  }
  
  .skilla {
  
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-bottom: 50px;
  }

  .aboutMe {
    display: flex;
    flex-direction: column;
  }

  .contactTime {
    margin-top: 50px;
    flex-direction: column;
  
    background-color: #cdb4db;
    border-radius: 25px;
    max-width: 500px;
    
  }
  
  .bookMe {
    font-size: 20px;
    
  }
  
  .chatMe {
    font-weight: lighter;
    
  }
  
  .last-contact-button {
    background-color: black;
    color: white;
    
  }
  
}





/*
 * SR-ONLY
 */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
 }


/*
 * SHARED STYLES
 */

.page-container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1.0rem;
}

/*
 * ADD YOUR STYLES HERE
 */
